* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002970;
    color: white;
    padding: 6px;
    flex-wrap: wrap;
}

.nav a {
    text-decoration: none;
    color: white;
    /* margin: 6px; */
    padding: 8px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.login-btn,
.signup-btn {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.4s;

}

.login-btn:hover {
    background-color: #00BAF2;
    color: white;
    /* font-weight: 800; */
}

.signup-btn:hover {
    background-color: #00BAF2;
    color: white;
    /* font-weight: 800; */
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}



/* hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    background-color: #00BAF2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}


/* feature cards */

.features {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
    background-color: #f8f9fa;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.feature-card {
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5%;
    text-align: center;
    max-width: 300px;
    border: 1px solid #0e0e0e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
    color: 002970;
    margin-bottom: 1rem;
}

.feature-card p {
    color: 666;
}


/* ivestment option */

.investment-options {
    padding: 4rem 2rem;
    text-align: center;
}

.options-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.option-card h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #002970;
}

.investment-options h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #002970;
}

.option-card {
    background-color: white;
    border: 2px solid #00BAF2;
    border-radius: 12px;
    padding: 2rem;
    width: 250px;
    text-align: center;
    transition: transform 1s ease;
}

.option-card:hover {
    transform: translateX(5px);
    box-shadow: 5px 5px 20px rgba(0, 186, 242, 0.3);
}

/* statistics card */

.statistics-section{
    text-align: center;
    padding: 2rem 2rem;  
}

.statistics-section h2{
    font-size: 2.5rem;
    color: #002970;
    margin-bottom: 3rem;
}

.statistics-grid{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.statistic-card h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #002970;
}

.statistic-card {
    background-color: white;
    border: 2px solid #00BAF2;
    border-radius: 12px;
    padding: 2rem;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
}

.statistic-card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 20px rgba(0, 186, 242, 0.3);
}

.footer{
    text-align: center;
    padding: 2rem 2rem;  
    background-color: #f8f9fa;
}

.footer h2{
    font-size: 2.5rem;
    color: #01235e;
}

.contact-details{
    color: #00BAF2;
}




